body {
  position: relative;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-evenly;
  background: #eee;
  position: relative;
  height: 100px;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #f56;
}
.filterheader {
  background: #eee;
}
footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background: #eee;
  bottom: 0px;
}
